@CHARSET "UTF-8";

#header-wrapper {
	height: 110px;
	margin: auto;
	/*background: #592114;*/
	background: -moz-linear-gradient(left, rgba(247, 129, 29, 0.95) 0%,
		rgba(192, 95, 26, 0.95) 35%, rgba(89, 33, 20, 0.95) 100% );
	/* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(247,
		129, 29, 0.95) ), color-stop(35%, rgba(192, 95, 26, 0.95) ),
		color-stop(100%, rgba(89, 33, 20, 0.95) ) );
	/* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left, rgba(247, 129, 29, 0.95) 0%,
		rgba(192, 95, 26, 0.95) 35%, rgba(89, 33, 20, 0.95) 100% );
	/* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left, rgba(247, 129, 29, 0.95) 0%,
		rgba(192, 95, 26, 0.95) 35%, rgba(89, 33, 20, 0.95) 100% );
	/* Opera 11.10+ */
	background: -ms-linear-gradient(left, rgba(247, 129, 29, 0.95) 0%,
		rgba(192, 95, 26, 0.95) 35%, rgba(89, 33, 20, 0.95) 100% );
	/* IE10+ */
	background: linear-gradient(to right, rgba(247, 129, 29, 0.95) 0%,
		rgba(192, 95, 26, 0.95) 35%, rgba(89, 33, 20, 0.95) 100% );
	/* W3C */
	filter: progid:  DXImageTransform.Microsoft.gradient(   
	startColorstr=  '#f2f7811d', endColorstr=  '#f2592114', GradientType= 
	1 ); /* IE6-9 */
	border-bottom: 0.41667em solid #F7811D;
	font-size: inherit;
	background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(247,
		129, 29, 0.95) ), color-stop(35%, rgba(192, 95, 26, 0.95) ),
		color-stop(100%, rgba(89, 33, 20, 0.95) ) ); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left, rgba(247, 129, 29, 0.95) 0%,
		rgba(192, 95, 26, 0.95) 35%, rgba(89, 33, 20, 0.95) 100% );
	/* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left, rgba(247, 129, 29, 0.95) 0%,
		rgba(192, 95, 26, 0.95) 35%, rgba(89, 33, 20, 0.95) 100% );
	/* Opera 11.10+ */
	background: -ms-linear-gradient(left, rgba(247, 129, 29, 0.95) 0%,
		rgba(192, 95, 26, 0.95) 35%, rgba(89, 33, 20, 0.95) 100% );
	/* IE10+ */
	background: linear-gradient(to right, rgba(247, 129, 29, 0.95) 0%,
		rgba(192, 95, 26, 0.95) 35%, rgba(89, 33, 20, 0.95) 100% ); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient(   startColorstr='#f2f7811d',
		endColorstr='#f2592114', GradientType=1 );
}

#header {
	width: 1200px;
	height: 3.333em;
	/*centro l'header alla pagina*/
	margin: 0px auto;
}

#logo {
	float: left;
	margin-left: 25px;
	padding-top: 1.667em;
	color: #000000;
}

#logo h1,#logo p {
	margin: 0px;
	padding: 0px;
}

#logo h1 {
	float: left;
	letter-spacing: -1px;
	text-transform: lowercase;
	font-size: 3.8em;
}

#logo p {
	float: left;
	margin: 0;
	padding: 2.166em 0 0 0.833em;
	font: normal 1.1667em Georgia, "Times New Roman", Times, serif;
	font-style: italic;
	color: #FCF2D9;
}

#logo a {
	border: none;
	background: none;
	text-decoration: none;
	color: #FCF2D9;
	font-family: 'Finger Paint', cursive;
}

/* Box login*/
#box-login-header {
	 float: right;
    height: 6.667em;
    position: relative;
    top: 0.83em;
}

#box-login-header h1 {
	text-align: center;
	padding-top: 3px;
	padding-bottom: 7px;
	font-size: 1.8em;
}

#box-login-header input {
	width: 14em;
	height: 1.167em;
	padding: 0.5em 0.42em 0.20em 0.42em;
	border: medium none;
	border-radius: 0px;
	background: #FFFFFF;
	text-transform: lowercase;
	font: normal 0.92em Arial, Helvetica, sans-serif;
	color: #5D781D;
	margin: 0px;
}

#line-btn{
	margin-top: 5px;
	width: 100%;
	width: 250px;
}

#line-btn td{
	width: 33%;
	padding-left: 10px;
	padding-right: 10px;
}

#profilo_td{
	text-align: right;
}

.bar-menu label{
	text-align: right;
}

td #td-login{
	text-align: center;
}