#sliderBox{
	margin-left: auto;
	margin-right: auto;
	margin-bottom: -15px;
	width: 30px;
	height: 30px;
	background: url("../img/slideBoxSearchClose.png") no-repeat;
	cursor: pointer;
}

#menuBar{
	height: 3.41em;
	margin: 0;
	padding: 0.833em 0 0 10px;
	width: 270px;
	vertical-align: middle;
}

#menuBar span{
	vertical-align: middle;
	text-align: center;
}

#hotelierCommandWrapper{
 	background: linear-gradient(to bottom, rgba(247, 129, 29, 0.95) 0%, rgba(244, 182, 89, 0.95) 65%, rgba(242, 210, 122, 0.95) 100%) repeat scroll 0 0 transparent;
    float: right;
    padding: 0;
    width: 290px; 
    box-shadow: 6px 5px 8px 3px #E1D9C0;
    border-radius: 0 0 10px 10px;
 }
 
 #menuBarEffect{
 }
